body {
  background-color: black;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 5px solid white;
}
h1 {
    text-align: center;
    color: white;
}
h6{
    text-align: center;
    color: white;
}